@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  html {
    @apply scroll-smooth;
    @apply antialiased;
  }
}

@layer utilities {
  .pause {
    animation-play-state: paused;
  }
}

@font-face {
  font-family: "Oracle-Regular";
  src: url("../public/Oracle-Regular.otf");}